<h2 class="h2Style">{{title}}</h2><br>
<button type="Submit" class="btn btn-primary btn-lg" (click)="addBooks()">Add Book</button><br><br>
<table class="table table-hover table-info table-bordered">
    <thead>
        <tr class="table table-hover table-success table-bordered">
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>ISBN</th>
            <th>Publication Date</th>
            <th>Publisher</th>
            <th>Copies</th>
            <th>Category</th>
            <th>Genre</th>
            <th>Subgenre</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let book of books">
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.isbn}}</td>
            <td>{{book.publicationDate}}</td>
            <td>{{book.publisher}}</td>
            <td>{{book.copies}}</td>
            <td>{{book.category}}</td>
            <td>{{book.genre}}</td>
            <td>{{book.subgenre}}</td>
            <td><button type="Delete" class="btn btn-outline-danger" (click)="deleteBooks(book.id)">Delete</button> &nbsp;<button type="Delete" class="btn btn-outline-warning" (click)="updateBooks(book.id)">Update</button></td>
        </tr>
    </tbody>
</table>
