<div class="container">
    <div class="row">
        <p>The Central Library and Information Centre is spread across an area of 404.23 sq m and has a rich collection of Books along with Print Journals ,Technical Magazines and Periodicals. The e-journals of the Central Library can be accessed throughout the campus as it is IP based.</p>
        <p>The Central Library functions from 9.00 A.M to 8.00 P.M on Weekdays and on Saturdays from 10.00.am to 3.00 P.M . Reprographic facilities like photocopying and scanning of documents are also available in the Library.</p>
    </div>&nbsp;
    <div class="row">
        <div class="col-sm-4">
            <img src="../../assets/images/lib1.jpg" class="rounded" width="250px" height=200px; alt="Lib 1">
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/lib2.jpg" class="rounded" width="250px" height=200px; alt="Lib 2">
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/lib3.jpg" class="rounded" width="250px" height=200px; alt="Lib 3">
        </div>
    </div>&nbsp;
    <div class="row">
        <div class="col-sm-4">
            <img src="../../assets/images/lib4.jpg" class="rounded" width="250px" height=200px; alt="Lib 4">
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/lib5.jpg" class="rounded" width="250px" height=200px; alt="Lib 5">
        </div>
        <div class="col-sm-4">
            <img src="../../assets/images/lib6.jpg" class="rounded" width="250px" height=200px; alt="Lib 6">
        </div>
    </div>&nbsp;
    <div class="row">
        <p>Students can borrow 03 books against their library cards and 04 books as selected by them for the whole Semester. Apart from the Central Library each Department has its own departmental library. The Central Library has a collection of 28,948 Volume of Books including Reference & Textbooks for the users. Periodicals , Journals and Magazines , e-journals and e-books are also available.</p>
    </div>
</div>




