h2 {
    text-align: center;
}

th {
    text-align: center;
}

/* #backimg {
    background-image: url('../../assets/images/adminPagePic.jpg');
    background-size: 100% ;  
    background-size: cover; 
} */