<h2 class="h2Style">Update Admin</h2><br>

<form [formGroup] = 'adminForm' (ngSubmit)="upAdmin()">
    <br><label for="id">ID: &nbsp;</label>
    <input type="number" id="id" name="id" formControlName="id" placeholder="Admin ID"><br><br>
    <label for="fname">Name: &nbsp;</label>
    <input type="text" id="name" name="name" formControlName="name" placeholder="Admin Name"><br><br>
    <label for="username">Username: &nbsp;</label>
    <input type="text" id="username" name="username" formControlName="username" placeholder="Username"><br><br>
    <label for="password">Password: &nbsp;</label>
    <input type="text" id="password" name="password" formControlName="password" placeholder="Password"><br><br>

    <button type="Update" class="btn btn-warning btn-lg">Update</button><br><br>
</form>