<h2 class="h2Style">Update Student</h2><br>

<form [formGroup] = 'studentForm' (ngSubmit)="upStudent()">
    <br><label for="id">ID: &nbsp;</label>
    <input type="number" id="id" name="id" formControlName="id" placeholder="Student ID"><br><br>
    <label for="name">Name: &nbsp;</label>
    <input type="text" id="name" name="name" formControlName="name" placeholder="Student Name"><br><br>
    <label for="department">Department: &nbsp;</label>
    <input type="text" id="department" name="department" formControlName="department" placeholder="Department"><br><br>
    <label for="rollNumber">Roll Number: &nbsp;</label>
    <input type="number" id="rollNumber" name="rollNumber" formControlName="rollNumber" placeholder="Roll Number"><br><br>
    <label for="birthDate">Birth Date: &nbsp;</label>
    <input type="date" id="birthDate" name="birthDate" formControlName="birthDate"><br><br>
    <label for="mobilenumber">Mobile Number: &nbsp;</label>
    <input type="text" id="mobileNumber" name="mobileNumber" formControlName="mobileNumber" placeholder="Mobile Number"><br><br>

    <button type="Update" class="btn btn-warning btn-lg">Update</button><br><br>
</form>